html,
body {
  height: 100%; }

body {
  background-color: #ccc; }

h2 {
  margin: 0.7em;
  font-size: 1.4em; }

#karte {
  height: 100%;
  z-index: 2; }
  @media only screen and (min-width: 800px) {
    #karte {
      width: 70%;
      float: left; } }

#uebersicht, #optionen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  background-color: #ccc; }
  @media only screen and (min-width: 800px) {
    #uebersicht, #optionen {
      position: relative;
      width: 30%;
      left: auto;
      display: block;
      float: right; } }
  #uebersicht.active, .active#optionen {
    display: block;
    z-index: 3; }
  #uebersicht ul, #optionen ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 80px;
    max-height: 365px;
    overflow: auto; }
    #uebersicht ul > li, #optionen ul > li {
      padding: 0 1em;
      background-color: #ccc;
      border-top: 1px solid #777777; }
      #uebersicht ul > li:first-child, #optionen ul > li:first-child {
        border-top: none; }

#optionen {
  clear: right;
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  width: 100%; }
  @media only screen and (min-width: 800px) {
    #optionen {
      width: 30%; } }
  @media only screen and (min-width: 800px) {
    #optionen ul {
      padding: 0; } }
  #optionen ul > li {
    border-top: none;
    padding: 0.5em 0; }
    #optionen ul > li input {
      margin: 0 0.5em; }

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: #333; }
  @media only screen and (min-width: 800px) {
    nav {
      display: none; } }
  nav li {
    display: inline-block;
    width: 32%; }
  nav a {
    line-height: 80px;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center; }
    nav a:hover {
      background-color: #555; }

.list > li {
  overflow: hidden; }
  .list > li h3 {
    font-size: 1.2em;
    margin: 0.5em 0 0; }
  .list > li span {
    display: block;
    font-size: 1em; }

.list-img {
  vertical-align: bottom;
  float: left;
  margin-right: 0.5em; }
  @media only screen and (min-width: 800px) {
    .list-img {
      display: none; } }

.versteckt {
  display: none; }
